Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-SSLify==0.1.4
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
PIL==1.1.7
Pillow==2.2.1
SQLAlchemy==0.8.3
Werkzeug==0.9.4
boto==2.16.0
distribute==0.6.28
gunicorn==18.0
html5lib==1.0b3
itsdangerous==0.23
psycopg2==2.5.1
pyPdf==1.13
reportlab==2.7
requests==2.0.1
six==1.4.1
wsgiref==0.1.2
./libs/pdfminer/
./libs/xhtml2pdf/
