<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Zip.ly</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/app.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/awesome.min.css">
    </head>
    <body class="alterBackground">
        <div style="display: flex; justify-content: center;">
            <div class="jumbotron" style="max-width:800px">
                <h1><i class="fa fa-edit"></i>Welcome</h1>
                <p><b>zip.ly</b> enables you to <u>create, edit, sign</u> documents <u>rapidly</u> on any <u>mobile</u> device.<br/><br/><b>upload. edit. signed!</b><br/></p>
                <a href="/salesforce/login/"><button class="btn btn-default form-control salesforce" type="button" style="height: 36px;">Log in with Salesforce</button></a>
            </div>
        </div>
        <footer>
            <p style="text-align:center;font-size:10px;">&copy; zip.ly 2013</p>
            <a id="simple-menu"></a>
        </footer>
        <script>
            var _gaq=[['_setAccount','UA-45841900-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
