{% extends "_base.html" %}
{% block title %}Drafts{% endblock %}
{% block content %}
<div class="toolbar">
    <p id="brand">
        <a id="simple-menu" href="javascript:$.sidr()">
            <i class="fa fa-bars"></i>
        </a>
        &nbsp;Welcome to zip.ly
    </p>
</div>
<div class="jumbotron">
    <h1>Welcome</h1>
    <p>zip.ly enables you to <u>create/edit/sign</u> documents <u>rapidly</u> on <u>mobile</u>.<br/><br/><b>upload. edit. signed!</b><br/><br/>Press <i class="fa fa-bars"></i> to get started.</p>
</div>
{% endblock %}
{% block footerblock %}
<footer>
<p style="text-align:center;font-size:10px;">&copy; zip.ly 2013</p>
<a id="simple-menu"></a>
</footer>
{% endblock %}
{% block scriptblock %}{% endblock %}